<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Manufacturers</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/custom-style.css" rel="stylesheet" />
</head>
<body>
<div th:insert="~{menunavy::navy}"></div>

<h1 th:text="#{manufacturer.header.list}">Manufacturer List</h1>
<div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
<div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
<form class="row g-2 mb-3" th:action="@{/manufacturers}" method="get">
    <div class="col-md-2">
        <input type="text" name="id" class="form-control" th:value="${paramId}"
               th:placeholder="#{search.id}" />
    </div>
    <div class="col-md-6">
        <input type="text" name="name" class="form-control" th:value="${paramName}"
               th:placeholder="#{search.name}" />
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">
            <i class="bi bi-search"></i> <span th:text="#{search.button}">Search</span>
        </button>
    </div>
</form>
<table class="table table-hover">
    <thead>
    <tr class="table-dark">
        <th th:text="#{object.manufacturer.id}">ID</th>
        <th th:text="#{object.manufacturer.name}">Name</th>
        <th th:text="#{operation}">Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="manufacturer : ${manufacturers}">
        <td th:text="${manufacturer.id}"></td>
        <td th:text="${manufacturer.name}"></td>
        <td>
            <a th:href="@{/manufacturers/{id}/delete(id=${manufacturer.id})}" class="btn btn-danger btn-sm">
                <i class="fa fa-trash"></i> <span th:text="#{btn.delete}">Delete</span>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/manufacturers/add}" class="btn btn-primary" th:text="#{manufacturer.btn.new}">Add Manufacturer</a>

<div th:insert="~{footer::footer}"></div>
<p>
    <a th:href="@{/manufacturers(lang='en')}">English</a>
    <a th:href="@{/manufacturers(lang='uk')}">Українська</a>
</p>
</body>
</html>