<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <title>Orders list</title>
</head>
<body>
<header>
    <div th:insert="~{menunavy::navy}"></div>
</header>
<main class="container mt-4">
    <h1 th:text="#{orders.header.list}">Orders list</h1>
    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th th:text="#{orders.field.id}">ID</th>
            <th th:text="#{orders.field.client}">Client</th>
            <th th:text="#{orders.field.employee}">Employee</th>
            <th th:text="#{orders.field.approved}">Approved</th>
            <th th:text="#{orders.field.amount}">Amount</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.client.name}"></td>
            <td th:text="${order.employee.name}"></td>
            <td>
                <div th:if="${order.approved}">
                    <a th:href="@{/orders/unapproved/{id}(id=${order.id})}" title="Unapprove">
                        <i class="fa fa-check text-success"></i>
                    </a>
                </div>
                <div th:unless="${order.approved}">
                    <a th:href="@{/orders/approve/{id}(id=${order.id})}" title="Approve">
                        <i class="fa fa-minus text-danger"></i>
                    </a>
                </div>
            </td>
            <td th:text="${order.getAmount()}"></td>
            <td>
                <a th:href="@{/orders/edit/{id}(id=${order.id})}" title="Edit"><i class="fa fa-edit"></i></a>
                <a th:href="@{/orders/delete/{id}(id=${order.id})}" title="Delete" onclick="return confirm('Are you sure?')">
                    <i class="fa fa-times text-danger"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/orders/add}" class="btn btn-primary" th:text="#{orders.btn.new}">New Order</a>
</main>
<div th:insert="~{footer::footer}"></div>
</body>
</html>