<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>New Employee</title>
</head>
<body>
<div th:insert="~{menunavy::navy}"></div>
<h1 th:text="#{employee.btn.new}">New Employee</h1>
<form action="#" th:action="@{/employees/add-employee}" th:object="${employee}" method="post">
    <p>
    <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:text="#{user.name.is.mandatory}"></p>
    <span th:text="#{object.user.name}">Name</span>
    <input type="text" th:field="*{name}" />
    </p>
    <p>
    <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:text="#{user.email.is.correctly}"></p>
    <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:text="#{user.email.is.blank}"></p>
    <span th:text="#{object.user.email}">Email</span>
    <input type="text" th:field="*{email}" />
    </p>
    <p>
    <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:text="#{user.password.is.correctly}"></p>
    <span th:text="#{object.user.password}">Password</span>
    <input type="text" th:field="*{password}" />
    </p>
    <p>
    <p th:if="${#fields.hasErrors('department')}" class="text-danger">Invalid department</p>
    <span th:text="#{object.employee.department}">Department</span>
    <input type="text" th:field="*{department}" />
    </p>
    <p>
        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
    </p>
</form>
<div th:insert="~{footer::footer}"></div>
</body>
</html>