<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Appliance Shop</title>
</head>
<body>
<h1 th:text="#{index.welcome}">Welcome</h1>

<p>
    <a th:href="@{/clients}" th:text="#{menu.clients}">Clients</a> |
    <a th:href="@{/employees}" th:text="#{menu.employees}">Employees</a> |
    <a th:href="@{/manufacturers}" th:text="#{menu.manufacturers}">Manufacturers</a> |
    <a th:href="@{/appliances}" th:text="#{menu.appliances}">Appliances</a> |
    <a th:href="@{/orders}" th:text="#{menu.orders}">Orders</a>
</p>

<p>
    <a th:href="@{/logout}" th:text="#{menu.logout}">Logout</a>
</p>

<p>
    <a th:href="@{'/?lang=en'}">English</a>
    <a th:href="@{'/?lang=uk'}">Українська</a>
</p>
</body>
</html>