<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="navy">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" th:text="#{shop.name}"></a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link" th:href="@{/clients}" th:text="#{clients.menu.name}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link" th:href="@{/employees}" th:text="#{employees.menu.name}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link" th:href="@{/manufacturers}" th:text="#{manufacturers.menu.name}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link" th:href="@{/appliances}" th:text="#{appliances.menu.name}"></a>
                    </li>

                    <li class="nav-item" sec:authorize="hasRole('EMPLOYEE')">
                        <a class="nav-link" th:href="@{/orders}" th:text="#{order.menu.name}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                        <a class="nav-link" th:href="@{/cart}" th:text="#{menu.cart}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                        <a class="nav-link" th:href="@{/profile}" th:text="#{menu.profile}"></a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                        <a class="nav-link" th:href="@{/catalog}" th:text="#{menu.catalog}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" th:text="#{menu.logout}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>